---
import { DEFAULT_IMAGE } from "@lib/utils/constants";
import type { EpisodeThumbnail } from "@typs/anime";

interface Props {
	anime: EpisodeThumbnail;
	url: string;
}

const { anime, url } = Astro.props;
---

<article class="group relative hover:scale-110 duration-500">
    <a href={`/${url}/${anime.name.toLowerCase().replace(/ /g, "-")}`} class="group-hover:scale-50">
        <div
            class="flex justify-center items-end absolute right-0 bottom-0 w-full h-full py-4 translate-y-4
            transition-all duration-500 opacity-0 rounded-b-sm
            group-hover:translate-y-0 group-hover:opacity-100
            z-10 bg-gradient-to-t from-zinc-950/80 via-zinc-950/50"
        >
            <h4 class="text-zinc-100 w-full break-words text-center font-bold text-sm">{anime.name}</h4>
        </div>

        <picture class="aspect-[6/8] w-full h-auto flex-none">
            <img
                class="object-cover object-center h-full w-full rounded-sm"
                src={anime.img || DEFAULT_IMAGE}
                alt={`cover of ${anime.name}`}
            />
        </picture>

        <div
            class="flex text-sm items-center justify-center px-2 h-5 gap-0.5 rounded
            text-zinc-100 font-extrabold absolute top-1 right-1 bg-red-500">
            Cap {anime.episodes.sub}
        </div>
    </a>
</article>