---
import NavItem from "@components/shared/NavItem.astro";
---

<nav class="flex flex-col flex-1 bg-zinc-200 dark:bg-zinc-800">
    <ul class="flex flex-col gap-1 p-3">
        <NavItem url="/">Inicio</NavItem>
        <NavItem url="/animes">Animes</NavItem>
        <NavItem url="/movies">Mangas</NavItem>
        <NavItem url="/movies">Peliculas</NavItem>
        <NavItem url="/upcoming" isBold>Programacion Semanal</NavItem>
    </ul>
</nav>